@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: "Montserrat";
}

code {
    font-family: "Montserrat";
}
